<a href="https://colab.research.google.com/github/Mjboothaus/polars/blob/main/notebooks/polars_heaton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/jeffheaton/present/blob/a3e0c83ebddc26a2899b45fb2332cb488d043059/youtube/polars/polars.ipynb

---

Copyright 2023 by [Jeff Heaton](https://www.youtube.com/user/HeatonResearch), [released under Apache 2.0 license](https://github.com/jeffheaton/present/blob/master/LICENSE)

# Polars Getting Started

In [1]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.16.6-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (15.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 49.3 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from polars) (4.5.0)
Installing collected packages: polars
Successfully installed polars-0.16.6

# Read CSV

In [2]:
import polars as pl
df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/iris.csv")
df.head()

shape: (5, 5)
┌─────────┬─────────┬─────────┬─────────┬─────────────┐
│ sepal_l ┆ sepal_w ┆ petal_l ┆ petal_w ┆ species     │
│ ---     ┆ ---     ┆ ---     ┆ ---     ┆ ---         │
│ f64     ┆ f64     ┆ f64     ┆ f64     ┆ str         │
╞═════════╪═════════╪═════════╪═════════╪═════════════╡
│ 5.1     ┆ 3.5     ┆ 1.4     ┆ 0.2     ┆ Iris-setosa │
│ 4.9     ┆ 3.0     ┆ 1.4     ┆ 0.2     ┆ Iris-setosa │
│ 4.7     ┆ 3.2     ┆ 1.3     ┆ 0.2     ┆ Iris-setosa │
│ 4.6     ┆ 3.1     ┆ 1.5     ┆ 0.2     ┆ Iris-setosa │
│ 5.0     ┆ 3.6     ┆ 1.4     ┆ 0.2     ┆ Iris-setosa │
└─────────┴─────────┴─────────┴─────────┴─────────────┘

# Select Specific Rows (Query)

In [3]:
import polars as pl

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/iris.csv")
df.filter(
    pl.col('species') == 'Iris-virginica'
).head()

shape: (5, 5)
┌─────────┬─────────┬─────────┬─────────┬────────────────┐
│ sepal_l ┆ sepal_w ┆ petal_l ┆ petal_w ┆ species        │
│ ---     ┆ ---     ┆ ---     ┆ ---     ┆ ---            │
│ f64     ┆ f64     ┆ f64     ┆ f64     ┆ str            │
╞═════════╪═════════╪═════════╪═════════╪════════════════╡
│ 6.3     ┆ 3.3     ┆ 6.0     ┆ 2.5     ┆ Iris-virginica │
│ 5.8     ┆ 2.7     ┆ 5.1     ┆ 1.9     ┆ Iris-virginica │
│ 7.1     ┆ 3.0     ┆ 5.9     ┆ 2.1     ┆ Iris-virginica │
│ 6.3     ┆ 2.9     ┆ 5.6     ┆ 1.8     ┆ Iris-virginica │
│ 6.5     ┆ 3.0     ┆ 5.8     ┆ 2.2     ┆ Iris-virginica │
└─────────┴─────────┴─────────┴─────────┴────────────────┘

# Select Specific Columns

In [4]:
import polars as pl

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/iris.csv")
df.filter(
    pl.col('species') == 'Iris-virginica'
).select('sepal_l').head()

shape: (5, 1)
┌─────────┐
│ sepal_l │
│ ---     │
│ f64     │
╞═════════╡
│ 6.3     │
│ 5.8     │
│ 7.1     │
│ 6.3     │
│ 6.5     │
└─────────┘

# Increase Infer Length

In [5]:
import polars as pl

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
                 infer_schema_length=200,null_values=['?','NA'])
df.head()

shape: (5, 9)
┌──────┬───────────┬──────────────┬────────────┬─────┬──────────────┬──────┬────────┬──────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ acceleration ┆ year ┆ origin ┆ name         │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---          ┆ ---  ┆ ---    ┆ ---          │
│ f64  ┆ i64       ┆ f64          ┆ i64        ┆     ┆ f64          ┆ i64  ┆ i64    ┆ str          │
╞══════╪═══════════╪══════════════╪════════════╪═════╪══════════════╪══════╪════════╪══════════════╡
│ 18.0 ┆ 8         ┆ 307.0        ┆ 130        ┆ ... ┆ 12.0         ┆ 70   ┆ 1      ┆ chevrolet    │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ chevelle     │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ malibu       │
│ 15.0 ┆ 8         ┆ 350.0        ┆ 165        ┆ ... ┆ 11.5         ┆ 70   ┆ 1      ┆ buick        │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ skylark 320  │
│ 18.0 ┆ 8         ┆ 318.0        ┆ 150        ┆ ... ┆ 11.0         ┆ 70   ┆ 1      ┆ plymouth     │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ satellite    │
│ 16.0 ┆ 8         ┆ 304.0        ┆ 150        ┆ ... ┆ 12.0         ┆ 70   ┆ 1      ┆ amc rebel    │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ sst          │
│ 17.0 ┆ 8         ┆ 302.0        ┆ 140        ┆ ... ┆ 10.5         ┆ 70   ┆ 1      ┆ ford torino  │
└──────┴───────────┴──────────────┴────────────┴─────┴──────────────┴──────┴────────┴──────────────┘

# Specify Types

In [6]:
import polars as pl

dtypes = {
  'mpg': pl.Float64,
  'cylinders': pl.Int64,
  'displacement': pl.Float64,
  'horsepower': pl.Int64,
  'weight': pl.Int64,
  'acceleration': pl.Float64,
  'year': pl.Int64,
  'origin': pl.Int64,
  'name': pl.Utf8
 }

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
                 dtypes=dtypes,null_values=['?','NA'])
df.head()

shape: (5, 9)
┌──────┬───────────┬──────────────┬────────────┬─────┬──────────────┬──────┬────────┬──────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ acceleration ┆ year ┆ origin ┆ name         │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---          ┆ ---  ┆ ---    ┆ ---          │
│ f64  ┆ i64       ┆ f64          ┆ i64        ┆     ┆ f64          ┆ i64  ┆ i64    ┆ str          │
╞══════╪═══════════╪══════════════╪════════════╪═════╪══════════════╪══════╪════════╪══════════════╡
│ 18.0 ┆ 8         ┆ 307.0        ┆ 130        ┆ ... ┆ 12.0         ┆ 70   ┆ 1      ┆ chevrolet    │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ chevelle     │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ malibu       │
│ 15.0 ┆ 8         ┆ 350.0        ┆ 165        ┆ ... ┆ 11.5         ┆ 70   ┆ 1      ┆ buick        │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ skylark 320  │
│ 18.0 ┆ 8         ┆ 318.0        ┆ 150        ┆ ... ┆ 11.0         ┆ 70   ┆ 1      ┆ plymouth     │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ satellite    │
│ 16.0 ┆ 8         ┆ 304.0        ┆ 150        ┆ ... ┆ 12.0         ┆ 70   ┆ 1      ┆ amc rebel    │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ sst          │
│ 17.0 ┆ 8         ┆ 302.0        ┆ 140        ┆ ... ┆ 10.5         ┆ 70   ┆ 1      ┆ ford torino  │
└──────┴───────────┴──────────────┴────────────┴─────┴──────────────┴──────┴────────┴──────────────┘

# Missing Values

In [7]:
import polars as pl

dtypes = {
  'mpg': pl.Float64,
  'cylinders': pl.Int64,
  'displacement': pl.Float64,
  'horsepower': pl.Int64,
  'weight': pl.Int64,
  'acceleration': pl.Float64,
  'year': pl.Int64,
  'origin': pl.Int64,
  'name': pl.Utf8
 }

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
                 dtypes=dtypes,null_values=['?','NA'])

df.filter(
    pl.col('horsepower').is_null()
)

shape: (6, 9)
┌──────┬───────────┬──────────────┬────────────┬─────┬──────────────┬──────┬────────┬──────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ acceleration ┆ year ┆ origin ┆ name         │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---          ┆ ---  ┆ ---    ┆ ---          │
│ f64  ┆ i64       ┆ f64          ┆ i64        ┆     ┆ f64          ┆ i64  ┆ i64    ┆ str          │
╞══════╪═══════════╪══════════════╪════════════╪═════╪══════════════╪══════╪════════╪══════════════╡
│ 25.0 ┆ 4         ┆ 98.0         ┆ null       ┆ ... ┆ 19.0         ┆ 71   ┆ 1      ┆ ford pinto   │
│ 21.0 ┆ 6         ┆ 200.0        ┆ null       ┆ ... ┆ 17.0         ┆ 74   ┆ 1      ┆ ford         │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ maverick     │
│ 40.9 ┆ 4         ┆ 85.0         ┆ null       ┆ ... ┆ 17.3         ┆ 80   ┆ 2      ┆ renault      │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ lecar deluxe │
│ 23.6 ┆ 4         ┆ 140.0        ┆ null       ┆ ... ┆ 14.3         ┆ 80   ┆ 1      ┆ ford mustang │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ cobra        │
│ 34.5 ┆ 4         ┆ 100.0        ┆ null       ┆ ... ┆ 15.8         ┆ 81   ┆ 2      ┆ renault 18i  │
│ 23.0 ┆ 4         ┆ 151.0        ┆ null       ┆ ... ┆ 20.5         ┆ 82   ┆ 1      ┆ amc concord  │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ dl           │
└──────┴───────────┴──────────────┴────────────┴─────┴──────────────┴──────┴────────┴──────────────┘

In [8]:
df = df.with_column(
    pl.col("horsepower").fill_null(
        pl.col("horsepower").median()
    )
)
df.head()

df.filter(
    pl.col('horsepower').is_null()
)

<ipython-input-8-720ba4624e2a>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df = df.with_column(

shape: (0, 9)
┌─────┬───────────┬──────────────┬────────────┬─────┬──────────────┬──────┬────────┬──────┐
│ mpg ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ acceleration ┆ year ┆ origin ┆ name │
│ --- ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---          ┆ ---  ┆ ---    ┆ ---  │
│ f64 ┆ i64       ┆ f64          ┆ f64        ┆     ┆ f64          ┆ i64  ┆ i64    ┆ str  │
╞═════╪═══════════╪══════════════╪════════════╪═════╪══════════════╪══════╪════════╪══════╡
└─────┴───────────┴──────────────┴────────────┴─────┴──────────────┴──────┴────────┴──────┘

# Modify Columns

In [9]:
import polars as pl

dtypes = {
  'mpg': pl.Float64,
  'cylinders': pl.Int64,
  'displacement': pl.Float64,
  'horsepower': pl.Int64,
  'weight': pl.Int64,
  'acceleration': pl.Float64,
  'year': pl.Int64,
  'origin': pl.Int64,
  'name': pl.Utf8
 }

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
                 dtypes=dtypes,null_values=['?','NA'])
df = df.with_column(
    pl.col('weight').apply(lambda x: round(x/2.205))
)
df.head()

<ipython-input-9-c6bd334ffda8>:17: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df = df.with_column(

shape: (5, 9)
┌──────┬───────────┬──────────────┬────────────┬─────┬──────────────┬──────┬────────┬──────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ acceleration ┆ year ┆ origin ┆ name         │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---          ┆ ---  ┆ ---    ┆ ---          │
│ f64  ┆ i64       ┆ f64          ┆ i64        ┆     ┆ f64          ┆ i64  ┆ i64    ┆ str          │
╞══════╪═══════════╪══════════════╪════════════╪═════╪══════════════╪══════╪════════╪══════════════╡
│ 18.0 ┆ 8         ┆ 307.0        ┆ 130        ┆ ... ┆ 12.0         ┆ 70   ┆ 1      ┆ chevrolet    │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ chevelle     │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ malibu       │
│ 15.0 ┆ 8         ┆ 350.0        ┆ 165        ┆ ... ┆ 11.5         ┆ 70   ┆ 1      ┆ buick        │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ skylark 320  │
│ 18.0 ┆ 8         ┆ 318.0        ┆ 150        ┆ ... ┆ 11.0         ┆ 70   ┆ 1      ┆ plymouth     │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ satellite    │
│ 16.0 ┆ 8         ┆ 304.0        ┆ 150        ┆ ... ┆ 12.0         ┆ 70   ┆ 1      ┆ amc rebel    │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ sst          │
│ 17.0 ┆ 8         ┆ 302.0        ┆ 140        ┆ ... ┆ 10.5         ┆ 70   ┆ 1      ┆ ford torino  │
└──────┴───────────┴──────────────┴────────────┴─────┴──────────────┴──────┴────────┴──────────────┘

# Add Columns

In [11]:
import polars as pl

dtypes = {
  'mpg': pl.Float64,
  'cylinders': pl.Int64,
  'displacement': pl.Float64,
  'horsepower': pl.Int64,
  'weight': pl.Int64,
  'acceleration': pl.Float64,
  'year': pl.Int64,
  'origin': pl.Int64,
  'name': pl.Utf8
 }

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
                 dtypes=dtypes,null_values=['?','NA'])
df = df.with_columns(
    pl.col('weight').apply(lambda x: round(x/2.205)).alias('weight_kg')
)
df.head()

shape: (5, 10)
┌──────┬───────────┬──────────────┬────────────┬─────┬──────┬────────┬─────────────────┬───────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ year ┆ origin ┆ name            ┆ weight_kg │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---  ┆ ---    ┆ ---             ┆ ---       │
│ f64  ┆ i64       ┆ f64          ┆ i64        ┆     ┆ i64  ┆ i64    ┆ str             ┆ i64       │
╞══════╪═══════════╪══════════════╪════════════╪═════╪══════╪════════╪═════════════════╪═══════════╡
│ 18.0 ┆ 8         ┆ 307.0        ┆ 130        ┆ ... ┆ 70   ┆ 1      ┆ chevrolet       ┆ 1589      │
│      ┆           ┆              ┆            ┆     ┆      ┆        ┆ chevelle malibu ┆           │
│ 15.0 ┆ 8         ┆ 350.0        ┆ 165        ┆ ... ┆ 70   ┆ 1      ┆ buick skylark   ┆ 1675      │
│      ┆           ┆              ┆            ┆     ┆      ┆        ┆ 320             ┆           │
│ 18.0 ┆ 8         ┆ 318.0        ┆ 150        ┆ ... ┆ 70   ┆ 1      ┆ plymouth        ┆ 1558      │
│      ┆           ┆              ┆            ┆     ┆      ┆        ┆ satellite       ┆           │
│ 16.0 ┆ 8         ┆ 304.0        ┆ 150        ┆ ... ┆ 70   ┆ 1      ┆ amc rebel sst   ┆ 1557      │
│ 17.0 ┆ 8         ┆ 302.0        ┆ 140        ┆ ... ┆ 70   ┆ 1      ┆ ford torino     ┆ 1564      │
└──────┴───────────┴──────────────┴────────────┴─────┴──────┴────────┴─────────────────┴───────────┘

# Group By

In [12]:
import polars as pl

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/iris.csv")
df.groupby("species").agg(
    [
      pl.col('sepal_l').mean(),
      pl.col('sepal_w').mean(),
      pl.col('petal_l').mean(),
      pl.col('petal_w').mean()
    ]
)

shape: (3, 5)
┌─────────────────┬─────────┬─────────┬─────────┬─────────┐
│ species         ┆ sepal_l ┆ sepal_w ┆ petal_l ┆ petal_w │
│ ---             ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str             ┆ f64     ┆ f64     ┆ f64     ┆ f64     │
╞═════════════════╪═════════╪═════════╪═════════╪═════════╡
│ Iris-virginica  ┆ 6.588   ┆ 2.974   ┆ 5.552   ┆ 2.026   │
│ Iris-setosa     ┆ 5.006   ┆ 3.428   ┆ 1.462   ┆ 0.246   │
│ Iris-versicolor ┆ 5.936   ┆ 2.77    ┆ 4.26    ┆ 1.326   │
└─────────────────┴─────────┴─────────┴─────────┴─────────┘

# Sort

In [13]:
import polars as pl

dtypes = {
  'mpg': pl.Float64,
  'cylinders': pl.Int64,
  'displacement': pl.Float64,
  'horsepower': pl.Int64,
  'weight': pl.Int64,
  'acceleration': pl.Float64,
  'year': pl.Int64,
  'origin': pl.Int64,
  'name': pl.Utf8
 }

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
                 dtypes=dtypes,null_values=['?','NA'])
df = df.sort("mpg",reverse=True)
df

shape: (398, 9)
┌──────┬───────────┬──────────────┬────────────┬─────┬──────────────┬──────┬────────┬──────────────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ acceleration ┆ year ┆ origin ┆ name         │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---          ┆ ---  ┆ ---    ┆ ---          │
│ f64  ┆ i64       ┆ f64          ┆ i64        ┆     ┆ f64          ┆ i64  ┆ i64    ┆ str          │
╞══════╪═══════════╪══════════════╪════════════╪═════╪══════════════╪══════╪════════╪══════════════╡
│ 46.6 ┆ 4         ┆ 86.0         ┆ 65         ┆ ... ┆ 17.9         ┆ 80   ┆ 3      ┆ mazda glc    │
│ 44.6 ┆ 4         ┆ 91.0         ┆ 67         ┆ ... ┆ 13.8         ┆ 80   ┆ 3      ┆ honda civic  │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ 1500 gl      │
│ 44.3 ┆ 4         ┆ 90.0         ┆ 48         ┆ ... ┆ 21.7         ┆ 80   ┆ 2      ┆ vw rabbit c  │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ (diesel)     │
│ 44.0 ┆ 4         ┆ 97.0         ┆ 52         ┆ ... ┆ 24.6         ┆ 82   ┆ 2      ┆ vw pickup    │
│ ...  ┆ ...       ┆ ...          ┆ ...        ┆ ... ┆ ...          ┆ ...  ┆ ...    ┆ ...          │
│ 11.0 ┆ 8         ┆ 350.0        ┆ 180        ┆ ... ┆ 11.0         ┆ 73   ┆ 1      ┆ oldsmobile   │
│      ┆           ┆              ┆            ┆     ┆              ┆      ┆        ┆ omega        │
│ 10.0 ┆ 8         ┆ 360.0        ┆ 215        ┆ ... ┆ 14.0         ┆ 70   ┆ 1      ┆ ford f250    │
│ 10.0 ┆ 8         ┆ 307.0        ┆ 200        ┆ ... ┆ 15.0         ┆ 70   ┆ 1      ┆ chevy c20    │
│ 9.0  ┆ 8         ┆ 304.0        ┆ 193        ┆ ... ┆ 18.5         ┆ 70   ┆ 1      ┆ hi 1200d     │
└──────┴───────────┴──────────────┴────────────┴─────┴──────────────┴──────┴────────┴──────────────┘

# Lazy

In [14]:
import polars as pl

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/iris.csv").lazy()
df.groupby("species").agg(
    [
      pl.col('sepal_l').mean(),
      pl.col('sepal_w').mean(),
      pl.col('petal_l').mean(),
      pl.col('petal_w').mean()
    ]
).sort("species")

In [15]:
import polars as pl

df = pl.read_csv("https://data.heatonresearch.com/data/t81-558/iris.csv").lazy()
df.groupby("species").agg(
    [
      pl.col('sepal_l').mean(),
      pl.col('sepal_w').mean(),
      pl.col('petal_l').mean(),
      pl.col('petal_w').mean()
    ]
).sort("species").collect()

shape: (3, 5)
┌─────────────────┬─────────┬─────────┬─────────┬─────────┐
│ species         ┆ sepal_l ┆ sepal_w ┆ petal_l ┆ petal_w │
│ ---             ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str             ┆ f64     ┆ f64     ┆ f64     ┆ f64     │
╞═════════════════╪═════════╪═════════╪═════════╪═════════╡
│ Iris-setosa     ┆ 5.006   ┆ 3.428   ┆ 1.462   ┆ 0.246   │
│ Iris-versicolor ┆ 5.936   ┆ 2.77    ┆ 4.26    ┆ 1.326   │
│ Iris-virginica  ┆ 6.588   ┆ 2.974   ┆ 5.552   ┆ 2.026   │
└─────────────────┴─────────┴─────────┴─────────┴─────────┘

In [16]:
import polars as pl

!wget https://data.heatonresearch.com/data/t81-558/iris.csv

pl.scan_csv("iris.csv")\
  .groupby("species").agg(
    [
      pl.col('sepal_l').mean(),
      pl.col('sepal_w').mean(),
      pl.col('petal_l').mean(),
      pl.col('petal_w').mean()
    ]
).sort("species").collect()

--2023-02-19 01:16:29--  https://data.heatonresearch.com/data/t81-558/iris.csv
Resolving data.heatonresearch.com (data.heatonresearch.com)... 108.156.83.86, 108.156.83.80, 108.156.83.38, ...
Connecting to data.heatonresearch.com (data.heatonresearch.com)|108.156.83.86|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4753 (4.6K) [text/csv]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   4.64K  --.-KB/s    in 0s

2023-02-19 01:16:30 (963 MB/s) - ‘iris.csv’ saved [4753/4753]

shape: (3, 5)
┌─────────────────┬─────────┬─────────┬─────────┬─────────┐
│ species         ┆ sepal_l ┆ sepal_w ┆ petal_l ┆ petal_w │
│ ---             ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str             ┆ f64     ┆ f64     ┆ f64     ┆ f64     │
╞═════════════════╪═════════╪═════════╪═════════╪═════════╡
│ Iris-setosa     ┆ 5.006   ┆ 3.428   ┆ 1.462   ┆ 0.246   │
│ Iris-versicolor ┆ 5.936   ┆ 2.77    ┆ 4.26    ┆ 1.326   │
│ Iris-virginica  ┆ 6.588   ┆ 2.974   ┆ 5.552   ┆ 2.026   │
└─────────────────┴─────────┴─────────┴─────────┴─────────┘